[Unit]
Description=Block Zero testnet seed node
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/opt/blockzero-core/build/bin/bitcoind -testnet -datadir=/opt/bzero-testnet -printtoconsole
Restart=always
RestartSec=10
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
